<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="motoman_sia20d_with_wsg" params="prefix">
		<xacro:include filename="$(find motoman_sia20d_support)/urdf/sia20d_macro.xacro"/>
		<xacro:include filename="$(find wsg50_gripper_modified)/urdf/wsg_50_modified.urdf.xacro"/>
		
		<xacro:motoman_sia20d prefix="${prefix}sia20d_"/>
		
		<xacro:wsg_50_xacro name="${prefix}wsg" finger_length="0.22" finger_tip="0.0"/>
		<joint name="${prefix}tool0-wsg" type="fixed">
			<parent link="${prefix}sia20d_tool0"/>
			<child link="${prefix}wsg_base_link"/>
			<origin xyz="0 0 0" rpy="0 0 -3.1415926535"/>
		</joint>
	</xacro:macro>
</robot>
